.container, .msg-container {
    border: 1px solid #b2b2b2;
    outline: none;
    width: 95%;
    min-width: 1344px;
}
.msg-container{
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    min-height: 600px;
    margin: auto;
}
#top-container {
    padding: 5px 2px;
    margin: auto;
    margin-top: 2px;
    border-bottom: 2px solid #b2b2b2;
}
#header-container {
    min-height: 30px;
    margin: auto;
    margin-top: 3px;
    border: none;
    border-left: 1px solid #b2b2b2;
    border-right: 1px solid #b2b2b2;
}
.modal {
    display: flex;
    /*align-items: center;*/
    align-items: stretch;
    flex-direction: column;
    visibility: hidden;
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 5%;
    top: 10%;
    width: 70%;
    /*height: 90%;*/
    min-width: 200px;
    max-height: 80%;
    overflow: hidden;
    margin: 0 10% 10% 10%;
    border: 3px solid grey;
    background: #fafafa;;
    font-size: 16px;
}
.mItem {
    font-family: 'arial', sans-serif;
    padding: 10px 24px;
    /*border: 1px solid red;*/
    justify-content: center;
}
#info{
  padding: 0px 16px;
  margin: 0px 16px 32px 16px;
  font-size: 16px;
  overflow:auto;
  }

#warning {
    font-family: 'arial', sans-serif;
    font-size: 20px;
    color: white;
    margin: 0 10%;
    border: 5px solid black;
    background-color: #555;
    text-align: center;
    padding: 5%;
}
#warningSpan {
  display: block;
  font-size:36px;
  font-weight: bold;
  color:yellow;
  padding-bottom: 3%;
}
#dlFile {
  margin: auto;
  padding: 30px 40px;
  font-size:16px;
  /*display: block;*/
}
#fileName {
  padding: 8px 3px 5px 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
#download {
  visibility: hidden;
}
/* The Close Button */
.close {
  display: block;
    color: black;
    float: right;
    font-size: 36px;
    font-weight: bold;
    user-select: none;
    outline: none;
    text-align: right;
    padding-right: 10px;
}
.close:hover,.close:focus, .close:active {
    color: grey;
    text-decoration: none;
    cursor: pointer;
}

textarea {
  padding: 8px;
  overflow: hidden;
  resize: none;
  font-size: 11px;
  background-color: #fcfcfc;
  outline: none;
  font-family: 'arial', sans-serif;
  border-radius: none;
}
#myLeftSpan, #myRightSpan {
  font-family: 'arial', sans-serif;
  color: grey;
  font-size: 16px;
  width: 320px;
  display: inline-block;
  padding-left: 3px;
  text-align: left;
}

input[type="file"] {
  display: none;
}
input[type="text"] {
  display: inline-block;
  width: auto;
}
.buttyG{
  font-family: 'arial', sans-serif;
  font-weight: 100;
  color: black;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 4px 12px;
  cursor: pointer;
  font-size: 20px;
  background: white;
  border-radius: 10px;
  margin-left: 3px;
  user-select: none;
  outline: none;
}
.buttyG:hover,.buttyG:focus, .buttyG:active {
  background-color: lightgrey;
  text-decoration: none;
  cursor: pointer;
}
#infoButt{
  border-radius: 16px;
  color: blue;
  }
.header {
  font-family: 'arial', sans-serif;
  font-size: 14px;
  padding-top: 10px;
  text-align: center;
  color: #b2b2b2;
  font-style: italic;
  user-select: none;
  outline: none;
  border: none;
  display: inline-block;
  }
.nr {
  padding-right: 3px;
  flex-basis: 30px;
  min-width: 30px;
  text-align: right;
  color: #b2b2b2;
  user-select: none;
  outline: none;
}
.message {
  flex-basis: 320px;
  min-width: 320px;
}
.description {
  flex-basis: 90%;
  min-width: 600px;
  font-style: italic;
  user-select: none;
  outline: none;
}
.hex {
  padding-right: 2px;
  padding-left: 2px;
  flex-basis: 280px;
  min-width: 280px;
  color: #b2b2b2;
  outline: none;
}
